
body {
    font-family: 'Poppins';
    margin: 0;
    color: white;
    overflow: hidden;
    margin-top: 5px;
}

.container {
    display: flex;
    background-color: black;
    height: 100vh;
}

/********************* LEFT PART STARTS *********************/

.logo{ 
    width: 90%;
    height: 10%;
    margin-left: 10%;
    /* margin-top: 4%; */
}
.left{
    background-color: #17181C;
    width: 14%;
    height: 100%;
    margin-left:-8px;
    flex: 15;
}
.center{
    background-color:black;
    flex:70;
}
.right{
    background-color: #17181C;
    width: 25%;
    height: 100%;
    flex:15;
}
.dashboard{
    color: white;
}
.controlpanel img{
    margin-left: 30px;
    margin-top: 20px;
    height: 40%;
    width: 40%; 
}
.transfer,.analytics,.savings,.history,.records {
    margin-right: 25px;
}
.analytics h4{
    margin-left: 10px;
}

.history h4{
    margin-left:-5px ;
}
.settings , .inquiry{
    margin-right: 20px;
}
.settings h4 {
    margin-left: -5px;
}
.inquiry img{
margin-right: -10px;
}
.inquiry h4{
    margin-left: -5px;
}
.controlpanel h4{
    margin-right:40px;
}
.controlpanel{
    display: grid;
    grid-template-columns: auto auto;
}
/********************* CENTER PART STARTS *********************/

.centertitle{
    display: grid;
    grid-template-columns: auto auto;
    font-family: 'Inter';
}
.centertitle1{
    margin-left: 40px;
    margin-top: -10px;
}
.centertitle1 > h3{
    font-weight: 100;
    font-size: 17px;
    margin-top: -20px;

}
  .search-box{
    box-sizing: border-box;
    width: fit-content;
    height: fit-content;
    position: relative;
    margin-top:40px;
    margin-left:35%;  
  }
  .input-search{
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #22a6b3;
    padding-right: 40px;
    color:#fff;
  }
  .input-search::placeholder{
    color:rgba(255,255,255,.5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
  }
  .btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:#ffffff ;
    background-color:transparent;
    pointer-events: painted;  
  }
  .btn-search:focus ~ .input-search{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 1.5);
  }
  .input-search:focus{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 1.5);
  }

/********************* CARD PART STARTS *********************/

.card1{
 background: #1a1c24;
  border-radius:20px 20px 25px 25px;
  width: 210px;
  margin-left:20px;
  margin-top: 15px;
  height: 240px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgb(15, 230, 219);
}
.cards{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: -15px;
    margin-left:17px;
    margin-right: 27px;
}

.card1 > .image{
    height: 40%;
    width: 40%;
    margin: 10px 0 0px 0px;
}
.card1 .imagealt{
    margin-left: 4px;
}

.card1 .name{
    margin-top: 20px;
}
.card1 > h3{
    margin: 10px 0 20px 15px;
    font-weight: lighter;
    font-size: 22px;
}
.card1 .value{
    margin: -5px 0 -10px 15px;
    font-size: 22px;
    color:#0FF;
}
.cards .menu
{
    float: right;
    margin-top: 20px;
    margin-right:10px ;
}


/********************* MAP PART STARTS *********************/


#map-canvas{
    width:530px;
    height:350px;
    margin-top:30px;
    margin-left:450px;
    overflow: visible;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}